@charset "utf-8";
html{
	filter:expression(document.execCommand("BackgroundImageCache", false, true));
	overflow:scroll;
	overflow-x:auto;
}

body {
	font-family:Verdana, Arial, "宋体";
	padding: 0px;
	font-size:12px;
	margin:0px auto;
	background-color:#fff;
	color:#333;
	min-width:970px;
}

/*全局*/
a:link,a:visited{
	color:#333;
	text-decoration:none;
}
a:hover,a:active {
	color:#ed145b;
	text-decoration:underline;
}
a.more {
	float:right;
}
div.center {
	margin:auto;
}
form {
	margin:0px;
	padding:0px;
}
input, select, button, textarea {
	font-family:'宋体';
	font-size:12px;
}
select {
	margin:1px auto 1px auto;
	padding:2px;
	border:1px solid #739cb5;
	color:#2b6895;
	background:#fff url(input1.gif) no-repeat left top;
}
select.select option{
	height:1em;overflow:hidden;padding:0 3px;margin:0;
}
span.select{
	display:inline-block;
	font-family:'宋体';
	border:1px solid #ccc;
	padding:3px 15px 1px 2px;
	background:url(select.gif) right center no-repeat;
	cursor:pointer;
}

img {
	border:0px
}
font,td,th {
	font-size:12px;
}
pre{
	padding:0;margin:0;
}
.ul {
	list-style-type: none;
	margin:0;
	padding:0;
	zoom:1;
}
.ul:after{
	content: '\20';
	display: block;
	clear: both;
}

.table {
	empty-cells:show;
	border-collapse:collapse;
}

.clear{
	clear:both;
}
.height{
	height:8px;
	overflow:hidden;
}



.box_1{
	border:1px solid #ccc;
	zoom:1;
}
.box_1:after{
	content: '\20';
	display: block;
	clear: both;
}
.box_1 .title{
	line-height:30px;
	height:30px;
	background:#fff url(webimage.gif) no-repeat -252px -163px;
	font-size:14px;
	font-weight:bold;
	padding:0 16px;
	border-bottom:1px solid #e7e7e7;
}

.box_1 .title font{
	font-size:14px;
}
.box_1 .title .title_more{
	float:right;font-size:12px;font-weight:normal;padding-top:1px;
}

.box_1 .main{
	padding:10px;
}



.list_1 li{
	background:url(webimage.gif) no-repeat -992px -80px;
	padding:0 0 0 8px;
	line-height:26px;
	font-size:14px;
}

.list_2 li{
	line-height:2em;
}

.list_3 li{
	background:url(webimage.gif) no-repeat -992px -103px;
	padding:0 0 0 8px;
	line-height:26px;
	font-size:14px;
}

.list_paihang{
	background:url(webimage.gif) no-repeat -984px -147px;
	line-height:22px;
	font-size:12px;
	padding:0 0 0 18px;
}
.list_paihang li{
	height:22px;
	overflow:hidden;
	padding:0 4px;
}

.list_image{
	padding:10px 0 0 0	;
}
.list_image img{
	width:114px;
	height:84px;
}
.list_image li{
	float:left;
	width:140px;
	text-align:center;
	line-height:26px;
	height:130px;
	overflow:hidden;
}
.list_image ol{
	list-style:none;
	padding:0;
	margin:0;
}




.link_1 a:link,.link_1 a:visited{
	color:#004499;
	text-decoration:none;
}
.link_1 a:hover,.link_1 a:active {
	color:#ed145b;
	text-decoration:underline;
}

.link_2 a:link,.link_2 a:visited{
	color:#666;
	text-decoration:none;
}
.link_2 a:hover,.link_2 a:active {
	color:#ed145b;
	text-decoration:underline;
}


.mainWidth {
	width:970px;
	margin:0 auto;
}

.top_div{
	height:40px;
	padding:10px 0;
}
#logo_div {
	float: left;
	width: 140px;
}
#top_right{
	float:right;
	width:760px;
	line-height:2em;
}

#banner_div{
	background:#03C url(webimage.gif) no-repeat 0 0;
	height:38px;
	overflow:hidden;
	line-height:38px;
	_line-height:40px;
	color:#fff;
	padding:0 6px;
}

#banner_div li{
	float:left;
}
#banner_div .menu{
	display:inline-block;
	font-size:14px;
	font-weight:bold;
}
#banner_div .menu a{
	display:block;
	padding:0 12px;
	background:url(nav_now.png) no-repeat;
	_background:url(nav_now.gif) no-repeat;
	background-position:-100px -200px;
}
#banner_div .menu a:link,#banner_div .menu a:visited{
	color:#fff;
	text-decoration:none;
	background-position:-100px -200px;
}
#banner_div .menu a:hover,#banner_div .menu a:active {
	color:#fff;
	text-decoration:none;
	background-position:center top;
}
#banner_div .menu li.now a{
	background-position:center top;
}

#banner_user{
	float:right;
}
#banner_user a{
	margin-left:4px;
	display:inline;
	color:#c3cddf;
}
#banner_user a:link,#banner_user a:visited{
	color:#c3cddf;
	text-decoration:none;
}
#banner_user a:hover,#banner_user a:active {
	color:#fff;
	text-decoration:underline;
}

#banner_search{
	float:right;
	padding:0 0 0 20px;
	background:url(webimage.gif) no-repeat 50px -246px;
	height:38px;
	width:200px;
}

#banner_search .input{
	border:none;
	width:135px;
	display:inline;
	margin-left:10px;
}
#banner_search .submit{
	background:transparent;
	width:20px;
	margin-left:5px;
	height:20px;
	border:none;
	cursor:pointer;
	outline:none;
}




.mainLeft{
	float:left;
	width:250px;
	overflow:hidden;
}

#download_div{
	background:#f4f4f4 url(webimage.gif) no-repeat left -162px;
	width:218px;
	height:70px;
	padding:12px 10px 0 22px;
}
#download_div p{
	margin:0;padding:0;
}
#download_div h2{
	color:#f78a1e;
	font-size:13px;
	margin:0;
	height:22px;
	font-family:Arial, Helvetica, sans-serif;
}
#download_div span{
	float:right;
	color:#999;
	font-family:Arial;
}
#download_div .address{
	color:#ccc;
	line-height:22px;
}
#download_div .address a:link,#download_div .address a:visited{
	color:#016a9f;
	text-decoration:none;
}
#download_div .address a:hover,#download_div .address a:active{
	color:#ed145b;
	text-decoration:underline;
}



.mainRight{
	float:right;
	width:710px;
	overflow:hidden;
}

#headline_div{
	border:1px solid #ccc;
	height:80px;
	padding-left:20px;
}
#headline_div .headline_text{
	float:right;
	width:12px;
	padding:12px 5px;
	background:#e5e5e5;
	height:56px;
	border-left:1px solid #ccc;
}
#headline_div h1{
	font-family:'黑体';
	font-weight:bold;
	color:#000;
	letter-spacing:1px;
	font-size:30px;
	margin:0 auto;
	padding:15px 0 10px 0;
	height:30px;
	overflow:hidden;
}
#headline_div h1 a:link,#headline_div h1 a:visited{
	color:#000;
	text-decoration:none;
}
#headline_div h1 a:hover,#headline_div h1 a:active{
	color:#000;
	text-decoration:underline;
}
#headline_div tt{
	font-size:14px;
}

.webmain_title{
	background:url(webimage.gif) no-repeat 0px -53px;
	border:1px solid #ccc;
	height:31px;
	padding-left:140px;
}
.webmain_title .title{
	position:absolute;
	width:127px;
	height:33px;
	margin:-1px 0 0 -141px;
	overflow:hidden;
	text-indent:-200px;
}

.webmain_title a{
	line-height:32px;
	_line-height:33px;
}

.title_blog a.title{
	background:#00b1e0 url(webimage.gif) no-repeat 0px -95px;
}
.title_blog a:link,.title_blog a:visited{
	color:#006f8e;
	text-decoration:none;
}
.title_blog a:hover,.title_blog a:active {
	color:#bc2d09;
	text-decoration:none;
}


.title_news a.title{
	background:#40962f url(webimage.gif) no-repeat -127px -95px;
}
.title_news a:link,.title_news a:visited{
	color:#288e00;
	text-decoration:none;
}
.title_news a:hover,.title_news a:active {
	color:#bc2d09;
	text-decoration:none;
}




img.image{
	border:1px solid #ccc;
	background:#fff;
	padding:2px;
}



.h1_title{
	border:1px solid #ccc;padding:6px;
	margin:8px 12px;
}

.h1_title h1{
	margin:0;
	padding:8px 2px 6px 2px;
	text-align:center;
	font-size:22px;
	font-family:'黑体';
	font-weight:normal;
	color:#c00;
}
.h1_title h1 a:link,.h1_title h1 a:visited{
	color:#c00;
	text-decoration:none;
}
.h1_title h1 a:hover,.h1_title h1 a:active {
	color:#f00;
	text-decoration:underline;
}
.h1_title p{
	margin:0;
	padding:6px;
	line-height:1.6em;
	color:#666;
	text-indent:2em;
}
/*

	background:url(webimage.gif) no-repeat left -54px;
	*/