@charset "utf-8";
html{
	filter:expression(document.execCommand("BackgroundImageCache", false, true));
	overflow:scroll;
	overflow-x:auto;
	scrollbar-face-color:#e0e0e0;
	scrollbar-shadow-color:#e0e0e0;
	scrollbar-highlight-color:#e0e0e0;
	scrollbar-3dlight-color:#eaeaea;
	scrollbar-darkshadow-color:#697074;
	scrollbar-track-color:#f7f7f7;
	scrollbar-arrow-color:#666666;
}

body {
	font-family:Verdana, Arial, "宋体";
	padding: 0px;
	font-size:12px;
	margin:0px auto;
	background-color:#F1F3F5;
	color:#2C4150;
	min-width:800px;
	_height:100%;
}

/*全局*/
a:link,a:visited{
	color:#2C4150;
	text-decoration:none;
}
a:hover,a:active {
	color:#ed145b;
	text-decoration:underline;
}
a.more {
	float:right;
}
div.center {
	margin:auto;
}
form {
	margin:0px;
	padding:0px;
}
input, select, button, textarea {
	font-family:'宋体';
	font-size:12px;
}
select {
	margin:1px auto 1px auto;
	padding:2px;
	border:1px solid #739cb5;
	color:#2b6895;
	background:#fff url(input1.gif) no-repeat left top;
}
select.select option{
	height:1em;overflow:hidden;padding:0 3px;margin:0;
}

span.select{
	display:inline-block;
	font-family:'宋体';
	border:1px solid #ccc;
	padding:3px 15px 1px 2px;
	background:url(select.gif) right center no-repeat;
	cursor:pointer;
}

img {
	border:0px
}
font,td,th {
	font-size:12px;
}
pre{
	padding:0;margin:0;
}

.ul {
	list-style-type: none;
	margin:0;
	padding:0;
	zoom:1;
}
.ul:after{
	content: '\20';
	display: block;
	clear: both;
}

.table {
	empty-cells:show;
	border-collapse:collapse;
}
.autolink0 a {
	background-color:transparent;
	color: #333;
	text-decoration:underline;
}
.autolink0 a:link {
	background-color:transparent;
	color: #333;
	text-decoration:underline;
}
.autolink0 a:visited {
	background-color:transparent;
	color: #333;
	text-decoration: underline;
}
.autolink0 a:hover {
	background-color:transparent;
	color: #CC0033;
	text-decoration: underline;
}
.autolink0 a:active {
	background-color:transparent;
	color: #CC0033;
	text-decoration: underline;
}
.nbsp{
	float:left;
	height:1px;
	width:1px;
	overflow:hidden;
}

/*链接方式1 蓝色-红色字*/
.link1 a:link,.link1 a:visited {
	color:#09f;
	text-decoration:underline;
}
.link1 a:hover,.link1 a:active {
	color:#ed145b;
	text-decoration:underline;
}
/*链接方式2*/
.link2 a:link,.link2 a:visited {
	color:#775522;
	text-decoration:underline;
}
.link2 a:hover,.link2 a:active {
	color:#ed145b;
	text-decoration:underline;
}
/*链接方式3*/
.link3 a:link,.link3 a:visited {
	text-decoration:underline;
}
.link3 a:hover,.link3 a:active {
	text-decoration:underline;
}
.tag li {
	float:left;
	margin:2px 2px 0 0;
	height:23px;
	line-height:23px;
	_line-height:26px;
	overflow:hidden;
	white-space:nowrap;
	padding:0 7px;
	border:1px solid #b3b3b3;
	border-bottom:none;
	background:#f3f3f3 url(tagbg.gif) repeat-x;
	cursor:pointer;
}

.tag li.now{
	margin:0 2px 0 0;
	background:#e7f5f9 url(tagbg_now.gif) repeat-x;
	height:25px;
	line-height:25px;
	_line-height:27px;
	border:1px solid #739cb5;
	border-bottom:none;
	font-weight:bold;
	padding:0 9px;
}

/*表格*/
.toptable {
	background:#2b71a4 url(header_blue.gif) top right no-repeat;
	border-bottom:4px #80B5D7 solid;
}
#mytopDiv{
	width:100%;
	left:0;
	background:#F1F3F5;
	text-align:left;
	z-index:9999;
	position:fixed;
	top:0;
	_position:absolute;
	_top:expression(eval(document.compatMode &&document.compatMode=="CSS1Compat") ?documentElement.scrollTop:document.body.scrollTop);
}
#mytopSpacerDiv{height:67px;}

.mainTable {
	width:96%;
	margin:0 auto;
}
.tableborder {
	width:96%;
	background:#e7f5f9 url(header_bg.gif) repeat-x left top;
	border:1px solid #739cb5;
}
.tableborder tr{
	color:#2c4150;
}
.tableborder .td1 {
	background-color: #e8f3f8;
	border-left:1px solid #c3d3dc;
	border-top:1px solid #c3d3dc;
}
.tableborder .td2 {
	border-left:1px solid #c3d3dc;
	border-top:1px solid #c3d3dc;
}
.tableborder th {
	text-align:center;
	color:#2b6895;
	font-weight:bold;
	background:#d5e8f4 url(header_bg.gif) repeat-x left center;
	border-top:0px;
	line-height:1.6em;
	color:#2b6895;
}
.tableborder th.td1{
	background-color:#d5e8f4;
}
.tableborder .header th {
	color:#dc590a;
	background-color: #d5e8f4;
}
.tableborder tr.td3 {
	background-color:#F1F9FC;
}
.tableborder .td3 td.td1 {
	background-color:#e8f3f8;
}
.tableborder tr.tr_over,.tableborder .tr_over td.td1{
	background-color:#E0F0F5;
}
.tableborder tr.tr_select,.tableborder .tr_select td.td1{
	background-color:#CCE8F4;
}


/*menu*/
.popupmenu_popup {
	position:absolute;
	text-align:left;
	line-height:1.4em;
	padding:4px 1px 4px 1px;
	overflow:hidden;
	border:1px solid #739cb5;
	background:#fff;
}
.mainmenu ul{float:left;}
.mainmenu li{
	line-height:1.4em;
	width:72px;
	text-align:center;
	border-bottom:1px dashed #e1e1e1;
	padding:2px;
}
.menu {
	float:left;
	width:100%;
	height:25px;
	overflow:hidden;
}
.menu li {
	float:left;
}
.menu a {
	float:left;
	color:#2C4150;
	width:80px;
	height:25px;
	line-height:25px;
	_line-height:27px;
	text-align:center;
	overflow:hidden;
	margin-right:4px;
	background:url(button.gif) no-repeat center -1px;
}
.menu a:link,
.menu a:visited {
	background-position:center -1px;
	color:#2C4150;
	text-decoration:none;
}
.menu a:hover,
.menu a:active {
	background-position:center -28px;
	color:#168ABC;
	text-decoration:none;
}
.menu .menunow a {
	background:url(button.gif) no-repeat center -55px;
	text-decoration:none;
}
.menu .menunow a:link,
.menu .menunow a:visited ,
.menu .menunow a:hover,
.menu .menunow a:active {
	background-position:center -55px;
	color:#C22F0A;
	text-decoration:none;
}
.line0 {
	width:100%;
	height:1px;
	overflow:hidden;
	background:#e4ab12;
	border-bottom:1px solid #fff9ed;
}
.line1 {
	width:100%;
	height:1px;
	overflow:hidden;
	background:#ccc;
	border-bottom:1px solid #FFFFFF;
}
/*竖着的线条，用于表格头部分割*/
.line2 {
	margin:auto;
	border-right:1px solid #e7f5f9;
	background:#739cb5;
	width:1px;
	height:20px;
	overflow:hidden
}
.color1 {
	color:#999
}
/*表单颜色*/
.btn, .btnl, .bbtn, .btns, .btn2, .btnss,.btnall {
	height:22px;
	overflow:hidden;
	text-align:center;
	margin:auto 2px;
	border:0;
	color:#2C4150;
	letter-spacing:2px;
	padding:0px;
	_padding-top:2px;
	_cursor:hand;
	cursor:pointer;
}
.btn_disabled {
	background-position:left -81px;
	color:#aaa;
	text-decoration:none;
	cursor:default;
}

.btn {
	width:75px;
	background:url(btn.gif) no-repeat left top;
}
.btnl {
	width:102px;
	letter-spacing:0;
	background:url(btnl.gif) no-repeat left top;
}
.btns {
	width:47px;
	letter-spacing:0;
	background:url(btns.gif) no-repeat left top;
}
.btn2 {
	width:58px;
	letter-spacing:0;
	background:url(btn2.gif) no-repeat left top;
}
.btnss {
	width:35px;
	letter-spacing:0;
	background:url(btnss.gif) no-repeat left top;
}
.btnsss {
	width:22px;
	letter-spacing:0;
	background:url(btnsss.gif) no-repeat left top;
}
.btnall {
	height:21px;
	margin-left:2px;
	padding:0 2px;
	letter-spacing:0;
	border:1px solid #88ABC8;
	color:#3A74AD;
	line-height:17px;
	background:url(btnbg.gif) repeat-x left top;
}
.btnk {
	width:75px;
	background:url(btnk.gif) no-repeat left center;
	color:#fff;
}
.bbtn {
	width:80px;
	height:27px;
	color:#2B6895;
	font:14px/25px Tahoma;
	background:url(button.gif) no-repeat left top;
}
.bbtn.btnactive,.btn.btnactive,.btn2.btnactive,.btnl.btnactive,.btns.btnactive,.btnss.btnactive,.btnsss.btnactive,.btnall.btnactive,
a.btn:active,a.btnl:active,a.bbtn:active,a.btns:active,a.btn2:active,a.btnss:active,a.btnall:active
{
	background-position:left -27px;
	color:#168ABC;
	text-decoration:none;
}
.btn.navnow,.bbtn.btnover,.btn.btnover,.btn2.btnover,.btnl.btnover,.btns.btnover,.btnss.btnover,.btnsss.btnover,.btnall.btnover,
a.btn:hover,a.btnl:hover,a.bbtn:hover,a.btns:hover,a.btn2:hover,a.btnss:hover,a.btnall:hover{
	background-position:left -54px;
	color:#C22F0A;
	text-decoration:none;
}
a.btn:link,a.btnl:link,a.bbtn:link,a.btns:link,a.btn2:link,a.btnss:link,a.btnall:link,
a.btn:visited,a.btnl:visited,a.bbtn:visited,a.btns:visited,a.btn2:visited,a.btnss:visited,a.btnall:visited
{
	vertical-align:bottom;
	display:inline-table;
	line-height:20px;
	*display:inline-block;
	*padding-top:0;
	*line-height:24px;
	text-decoration:none;
	white-space:nowrap;
}
a.bbtn:link,
a.bbtn:visited
{
	color:#2B6895;
	line-height:24px;
	*line-height:28px;
}
a.bbtn:hover,
a.bbtn:active
{
	color:#C22F0A;
}




.input {
	border:1px solid #739cb5;
	color:#2b6895;
	background:#fff url(input1.gif) no-repeat left top;
	padding:4px 3px 3px 4px;
}
.input.inputover {
	border:1px solid #e47f12;
	color:#C22F0A;
	background-position:0 0;
}
.input.disabled{
	color:#999;
	border:1px solid #bbb;
}
#bottom {
	padding:20px 0 0 0;
	line-height:2em;
}
#bottom div {
	text-align:center
}

.classlink:link,.classlink:visited{
	color:#12C450;
	text-decoration:none;
}
.classlink:hover,.classlink:active {
	color:#ed145b;
	text-decoration:underline;
}

.loaction{padding:8px 0;width:96%;margin:0 auto;clear:both;font-family:"宋体";}

.clear{clear:both;}
.height{padding-top:8px;}

/* title */
.titletableBorder{border:1px solid #16387C;filter:alpha(opacity=90) shadow(color=#bbbbbb,direction=135);opacity:0.9;background-color:#16387C;}
.titleBodytd{background-color:#ffffff;text-align:left;padding:4px;line-height:135%;font-size: 12px;}
.title_th{background-image:url(tooltipbg.gif);color:#ffffff;font-size:12px;white-space:nowrap;}
.title_th p{margin:0px;font-weight:bold}
#pltsPopbot th{border-top:1px solid #16387C;}
#pltsPoptop th{border-bottom:1px solid #16387C;}

.helpicon{background:url(helpicon.gif) no-repeat 0 1px ;display:inline-block;width:20px;height:17px;cursor:default;}

.template_edit{font-family:monospace;font-size:10pt;padding:4px;border-top:2px solid #999;border-left:2px solid #999;border-right:1px solid #ccc;border-bottom:1px solid #ccc;line-height:18px;}

/*Date*/
.calender th {
	font: 12px Arial, Tahoma;
	_font: 11px Arial, Tahoma;
	font-weight: bold;
	color: #154BA0;
	height: 25px;
	padding-left: 10px;
	padding-left: 10px;
}
.calender th a {
	color: #154BA0;
}
.header input {
	background:none;
	vertical-align: middle;
	height: 16px;
}
.category {
	font: 12px Arial, Tahoma;
	_font: 11px Arial, Tahoma;
	color: #92A05A;
	height:20px;
	background-color: #FFFFD9;
}
.category td {
	border-bottom: 1px solid #DEDEB8;
}
.expire, .expire a:link, .expire a:visited {
	color: #999999;
}
.default, .default a:link, .default a:visited {
	color: #000000;
}
.checked, .checked a:link, .checked a:visited {
	color: #FF0000;
}
.today, .today a:link, .today a:visited {
	color: #00BB00;
}
#calendar_year {
	display: none;
	line-height: 1.3em;
	background: #FFFFFF;
	position: absolute;
	z-index: 10;
}
#calendar_year .col {
	float: left;
	background: #FFFFFF;
	margin-left: 1px;
	border: 1px solid #86B9D6;
	padding: 4px;
}
#calendar_month {
	display: none;
	background: #FFFFFF;
	line-height: 130%;
	border: 1px solid #86B9D6;
	padding: 4px;
	position: absolute;
	z-index: 11;
}
.tableborder {
	background: white;
	border: 1px solid #86B9D6;
}
#year, #month {
	padding-right:10px;
	background:url(onbottom.gif) no-repeat center right;
}
/*Date*/


.pageDiv{padding:20px 0;}


/*msg box*/
.msgboxTitle{width:100%;height:18px;text-align:left;font:bold 13px;color:#fff;border:1px solid #739cb5;cursor:move;}
.msgboxTitle td{background-color:#739cb5;background-image:url(tooltipbg.gif)}


/*control*/
.control{
	position:fixed;
	bottom:0px;
	overflow:auto;	/*firefox下加入它后就不会因为底下有框架而出现闪动的情况了*/
	opacity:0.9;
	filter:alpha(opacity=90);
	_position:absolute;
	_bottom:auto;
	_top:expression(eval(document.compatMode &&document.compatMode=="CSS1Compat") ?document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight:document.body.scrollTop+document.body.clientHeight-this.offsetHeight);
}